*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}
nav .logo {
    display: flex;
    align-items: center;
}
nav .logo h2 {
    font-size: 3rem;
    color: gray;
}
nav .logo a {
    color: #263645;
    margin: .6rem 2rem 0;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.4rem;
}
nav .top-nav a{
margin: 0 1rem 0;
color: #263645;
font-weight: 500;
text-decoration: none;
font-size: 1.4rem;
}
nav .top-nav .fas {
    font-size: 2.5rem;
    color: #263645;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    margin: 1rem 1rem;
    font-weight: 600;
    font-size: 1.4rem;
}
.para-1 {
    background-color: #263645;
}
.para-1 p {
    font-size: 1.4rem;
    padding: 1.5rem 0;
    color: white;
    text-align: center;
}
.para-1 p a {
    color: white;
}
